# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator Python
*.pyproject.user
*.pyproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# Docs 
docs/_build

# Python
__pycache__
.venv
.coverage
.pyc

# Poetry
dist
*.egg-info

# PyInstaller
build
*.spec

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store
*.app
*.dmg

# Misc
..*
*.log
temp.cif
temp.prm
settings.ini*
.ci/
.idea/
.vscode/
ci/

#Snap
*.snap
